<div id="custom-content" class="white-popup-block">
	<style>
		#custom-content iframe {
			max-width: 100%;
			margin: 0 auto;
			align: middle;
			display: block;
		}
	</style>
	<h1>Super Bounce Outside</h1>
	<h4>Using behavior design concepts to design for the scalability of my toy invention, Super Bounce</h4>
	<p>I set out to get people to play (and want to keep playing) an outdoor game I invented called Super Bounce. It is a hand­-held trampoline for two people to make a ball bounce. After a series of 10 snap tests, the goal became building a Super Bounce team. To date (June 8th, 2016), I've held three practices. An invaluable part of practicing outside has been listening to the birds chirping during sunset.</p>
	<iframe width="450" height="250" src="https://www.youtube.com/embed/26KavTcHqJY" frameborder="0" allowfullscreen></iframe>
</div>