<div id="custom-content" class="white-popup-block" style="max-width:600px; margin: 20px auto;">
	<style>
		#custom-content img {
			max-width: 100%;
			margin-bottom: 10px;
		}

		#custom-content .card-content {
			padding: 20px;
		}
	</style>
	<img src="{{ url_for('static', filename='img/project_images/matej.jpeg') }}">
	<h5 class="byline">By Matej Jan</h5>
	<div class="card-content">
		<p>I love spending time outside with my sketchbook! However, I rarely take the time to do it. There is this false notion that you need to take a lot of time and dive into details... </p>
		<p>To counter this I decided to develop a technique where I spend at most 5-10 minutes drawing, just enough for a short break, but the results still look spectacular. To share it with you, I made a micro-course called Sketch5 where you learn how to quickly and efficiently draw the environment around you while you enjoy being outside in nature.</p>
		<p>It only takes 5 minutes a day and you will be done in 5 days. <a href="http://matejjan.com/sketch5" target="_blank">matejjan.com/sketch5</a></p>
	</div>
</div>