<div id="custom-content" class="white-popup-block">
	<style>
		#custom-content canvas {
			position: relative;
			max-width: 110%;
		}
		#custom-content .pdf-controls {
			text-align: center;
		}

		#custom-content .right-pane {
			padding-left: 50px;
			vertical-align: center;
		}
	</style>
	<div class="left-pane">
		<div>
			<canvas id="the-canvas" style="border: 1px solid black"></canvas>
		</div>
		<div class="pdf-controls">
			<button id="prev" type="button">Prev</button>
			&nbsp; &nbsp;
			<span><span id="page_num"></span> / <span id="page_count"></span></span>
			&nbsp; &nbsp;
			<button id="next" type="button">Next</button>
		</div>
	</div>

	<div class="right-pane">
		<h1 class="card-title">Chime in, Tune out</h1>
		<h5 class="byline">By Emily Porter</h5>
		<h5 class="card-subtitle">Spreading mindfulness through wind chimes</h5>
		<br>
		<div class="card-content">
			<p>During our busy days, we often forget to pause and reflect on why we do what we do. The wind chime project gives passersby at Stanford the opportunity to share a mini moment of reflective joy as they hear the trigger of the wind chimes' noise.</p>
			<p>Repeated mini moments of joy affect emotional status and encourage the listener to develop these mini moments of mindfulness into full fledged habits over time.</p>
		</div>
	</div>

	<script id="script">
		//
		// If absolute URL from the remote server is provided, configure the CORS
		// header on that server.
		//
		var url = "{{ url_for('static', filename='porter_windchime_project.compressed.pdf') }}";

		//
		// Disable workers to avoid yet another cross-origin issue (workers need
		// the URL of the script to be loaded, and dynamically loading a cross-origin
		// script does not work).
		//
		// PDFJS.disableWorker = true;

		var pdfDoc = null,
				pageNum = 1,
				pageRendering = false,
				pageNumPending = null,
				scale = 0.8,
				canvas = document.getElementById('the-canvas'),
				ctx = canvas.getContext('2d');
		/**
		 * Get page info from document, resize canvas accordingly, and render page.
		 * @param num Page number.
		 */
		function renderPage(num) {
			pageRendering = true;
			// Using promise to fetch the page
			pdfDoc.getPage(num).then(function(page) {
				var viewport = page.getViewport(scale);
				canvas.height = viewport.height;
				canvas.width = viewport.width;
				// Render PDF page into canvas context
				var renderContext = {
					canvasContext: ctx,
					viewport: viewport
				};
				var renderTask = page.render(renderContext);
				// Wait for rendering to finish
				renderTask.promise.then(function () {
					pageRendering = false;
					if (pageNumPending !== null) {
						// New page rendering is pending
						renderPage(pageNumPending);
						pageNumPending = null;
					}
				});
			});
			// Update page counters
			document.getElementById('page_num').textContent = pageNum;
		}
		/**
		 * If another page rendering in progress, waits until the rendering is
		 * finised. Otherwise, executes rendering immediately.
		 */
		function queueRenderPage(num) {
			if (pageRendering) {
				pageNumPending = num;
			} else {
				renderPage(num);
			}
		}
		/**
		 * Displays previous page.
		 */
		function onPrevPage() {
			if (pageNum <= 1) {
				return;
			}
			pageNum--;
			queueRenderPage(pageNum);
		}
		document.getElementById('prev').addEventListener('click', onPrevPage);
		/**
		 * Displays next page.
		 */
		function onNextPage() {
			if (pageNum >= pdfDoc.numPages) {
				return;
			}
			pageNum++;
			queueRenderPage(pageNum);
		}
		document.getElementById('next').addEventListener('click', onNextPage);
		/**
		 * Asynchronously downloads PDF.
		 */
		PDFJS.getDocument(url).then(function (pdfDoc_) {
			pdfDoc = pdfDoc_;
			document.getElementById('page_count').textContent = pdfDoc.numPages;
			// Initial/first page rendering
			renderPage(pageNum);
		});
	</script>
</div>