<div id="custom-content" class="white-popup-block">
	<style>
		#custom-content img {
			max-width: 100%;
			margin-bottom: 10px;
			width: 40%;
			margin: 0 auto;
			float: left;
			margin-right: 50px;
		}
	</style>
	<img src="{{ url_for('static', filename='img/project_images/phoebe2.jpg') }}">
	<h1>#naturefoodeveryday</h1>
	<h4>Spend 5 seconds to feel the connection with raw food</h4>
	<p>I’m doing a #naturefoodeveryday challenge where we take a moment to appreciate nature for providing us with amazing food. To join me in this challenge, take a picture of the raw materials before you cook your meal, spend a few seconds to feel the connection with what nature gives us, and pass it on to your food enthusiast friends.</p>
	<p> Take a picture of the raw materials before you cook your meal, spend a few seconds to feel the connection with what nature gives us. Post the picture on FB or Instagram and pass it on by tagging your food enthusiast friends.</p>
</div>