@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic");
* {
  box-sizing: border-box;
}
html {
  background: #2e2d29;
  font-family: 'Source Sans Pro', sans-serif;
}
html body {
  margin: 0;
  padding: 0;
}
html body .background-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body .background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  transition: opacity 2s;
  opacity: 0;
}
html body .header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding-left: 5em;
  background: rgba(140,21,21,0.8);
  color: #fff;
}
html body .header a {
  text-decoration: none;
  color: #fff;
}
html body .header .logo {
  position: absolute;
  left: 1em;
  top: 1em;
  height: 3em;
}
html body .header .title {
  margin: 0.7rem 0 0.3rem;
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
html body .header .byline {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}
html body .posts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body .posts .slick-list {
  height: 100%;
}
html body .posts .slick-list .slick-track {
  height: 100%;
}
html body .posts .slick-list .slick-track .post {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 10em 6em 6em;
  overflow: scroll;
}
html body .posts .slick-list .slick-track .post:focus {
  outline: none;
}
html body .posts .slick-list .slick-track .post:only-child .post-content {
  width: 50em;
  margin: 0 auto;
}
html body .posts .slick-list .slick-track .post:only-child .post-content .post-title {
  font-size: 1.5em;
}
html body .posts .slick-list .slick-track .post .post-content {
  display: block;
  position: relative;
  width: 30em;
  margin: 0 0 auto auto;
  padding: 1em;
  background: rgba(248,246,234,0.95);
}
html body .posts .slick-list .slick-track .post .post-content .post-title {
  text-transform: uppercase;
}
html body .posts .slick-list .slick-track .post .post-content figure {
  display: block;
  margin: 1em auto;
  max-width: 100%;
}
html body .posts .slick-list .slick-track .post .post-content figure iframe,
html body .posts .slick-list .slick-track .post .post-content figure img {
  max-width: 100%;
  height: auto;
  margin: 1em auto;
}
html body .posts .slick-list .slick-track .post .post-content .email-sign-up {
  background: #c7d1c5;
}
html body .posts .slick-list .slick-track .post .post-content .read_more_container {
  position: relative;
  margin: 1em auto;
  width: 10em;
  padding: 1em;
  text-transform: uppercase;
  background: #009b76;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}
html body .posts .slick-list .slick-track .post .post-content .read_more_container .read_more {
  text-decoration: none;
  color: transparent;
}
html body .posts .slick-list .slick-track .post .post-content .read_more_container .read_more::before {
  content: "Find out more";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  color: #fff;
}
html body .posts .slick-list .slick-track .post .post-content .read_more_container:hover {
  background: #00bf91;
}
html body .posts .slick-arrow {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5em;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: transparent;
  transition: all 0.5s;
}
html body .posts .slick-arrow::after {
  content: "➔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font: inherit;
  font-size: 2em;
}
html body .posts .slick-arrow:hover {
  background: rgba(255,255,255,0.2);
}
html body .posts .slick-arrow:hover::before {
  border-color: #fff;
  color: #fff;
}
html body .posts .slick-arrow:hover.slick-prev::after {
  border-right-color: #fff;
}
html body .posts .slick-arrow:focus {
  outline: none;
}
html body .posts .slick-arrow.slick-prev {
  left: 0;
}
html body .posts .slick-arrow.slick-prev::after {
  transform: translate(-50%, -50%) scale(-1, 1);
}
html body .posts .slick-arrow.slick-next {
  right: 0;
}
html body .posts .slick-dots {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  paddin: 0;
  list-style: none;
  text-align: center;
}
html body .posts .slick-dots li {
  display: inline-block;
}
html body .posts .slick-dots li button {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 0.2em solid transparent;
  margin: 2em 1em;
  color: rgba(255,255,255,0.8);
  background: #175e54;
  cursor: pointer;
  transition: all 0.5s;
  font: inherit;
  font-weight: 600;
  box-shadow: 0 3px 3px rgba(88,87,84,0.4);
}
html body .posts .slick-dots li button:hover {
  color: #fff;
  background: #1f7e70;
}
html body .posts .slick-dots li button:focus {
  outline: none;
}
html body .posts .slick-dots li.slick-active button {
  border-color: rgba(255,255,255,0.8);
}
html body .posts .slick-dots li.slick-active button:hover {
  border-color: #fff;
}
