@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,600,600italic");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic");
* {
  box-sizing: border-box;
}
html {
  background: #2e2d29;
  font-family: 'Source Sans Pro', sans-serif;
}
html body {
  margin: 0;
  padding: 0;
}
html body .background-video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body .background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  transition: opacity 2s;
  opacity: 0;
}
html body .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5em;
  padding-left: 5em;
  background: rgba(140,21,21,0.8);
  color: #fff;
}
html body .header .logo {
  position: absolute;
  left: 1em;
  top: 1em;
  height: 3em;
}
html body .header .title {
  margin: 0.7rem 0 0.3rem;
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
html body .header .byline {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}
html body .posts {
  position: absolute;
  top: 5em;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: calc(100vh - 5em);
}
html body .posts .post:focus {
  outline: none;
}
html body .posts .post .post-content {
  display: block;
  position: relative;
  width: 30em;
  margin: 3em 6em auto auto;
  padding: 1em;
  background: rgba(248,246,234,0.95);
}
html body .posts .slick-arrow {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 5em;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: transparent;
  transition: all 0.5s;
}
html body .posts .slick-arrow:hover {
  background: rgba(255,255,255,0.2);
}
html body .posts .slick-arrow:focus {
  outline: none;
}
html body .posts .slick-arrow.slick-prev {
  left: 0;
}
html body .posts .slick-arrow.slick-next {
  right: 0;
}
html body .posts .slick-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  paddin: 0;
  list-style: none;
  text-align: center;
}
html body .posts .slick-dots li {
  display: inline-block;
}
html body .posts .slick-dots li button {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 0.2em solid transparent;
  margin: 2em 1em;
  color: rgba(255,255,255,0.5);
  background: #175e54;
  cursor: pointer;
  transition: all 0.5s;
}
html body .posts .slick-dots li button:hover {
  color: #fff;
}
html body .posts .slick-dots li button:focus {
  outline: none;
}
html body .posts .slick-dots li.slick-active button {
  border-color: rgba(255,255,255,0.5);
}
html body .posts .slick-dots li.slick-active button:hover {
  border-color: #fff;
}
