@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html body .background-video {
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
html body .background-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  transition: opacity 2s;
  opacity: 0;
}

.header {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
  word-spacing: 2px;
}

.subheader {
  margin-bottom: 40px;
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Lora', serif;
  font-style: italic;
  letter-spacing: 1px;
}

.center-content {
  color: #fff;
  padding: 0;
  text-align: center;
  margin-top: 12%;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.video-filter {
    margin: 0;
    background: rgba(0,0,0,0.4);
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}

#go-button {
  background: url(../img/arrow.png) no-repeat center center;
  background-size: 92px 92px;
  width: 92px;
  height: 92px;
  display: inline-block;
}

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.img-responsive {
  min-height: 230px;
}

#portfolio {
  position: absolute;
  bottom: 0;
  z-index: 999;
}



/**/

.small-dialog {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
}

/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

  -webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  -o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
  transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  -o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
  transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;

  -webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  -o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
  transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;

  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0;
}