@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
	padding: 0;
	margin: 0;
	height: 100%
}

#grid4x3 {
	display: table;
	height: 100%;
	width: 100%;
}

#grid4x3 > div {
	display: table-row;
}

#grid4x3 > div > div {
	display: table-cell;
	padding: 8px 4px 8px 4px;
}

.background-video {
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #FFF;
	z-index: -1;
}

.background-video video {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	transition: opacity 2s;
	opacity: 0;
}

#video-filter {
	background: rgba(0,0,0,0.3);
	z-index: 3;
	transition: opacity 2s;
}

#title {
	z-index: 4;
	color: #fff;
	text-align: center;
}

.header {
	padding-top: 10%; 
	font-size: 45px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	word-spacing: 2px;
}

.subheader {
	margin-top: 10px;
	font-size: 16px;
	font-family: 'Lora', serif;
	font-style: italic;
	letter-spacing: 1px;
}

.background-video, #video-filter, #title {
	float: left;
	position: absolute;
	width: 100%;
	height: 50%;
	top: 25%;
}

#title {
	top: 20%;
}

.white-popup-block {
	background: #FFF;
	text-align: left;
	position: relative;
	overflow: hidden;
	max-width: 75%;
	margin: 5% auto;
	border-radius: 3px;
}

/* Boxes */

.portfolio-box, .portfolio-box-EMPTY {
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
	color: #f05f40;
	transition: all .35s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 5;
	border-radius: 3px;
}

.portfolio-box:focus, .portfolio-box-EMPTY:focus {
	outline: 0;
}


.portfolio-box-caption {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	background: #8C1515;
	transition: all .35s;
	border-radius: 3px;
}

.portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

@media(min-width:768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}

	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}
}

.project-category, .project-name {
	padding: 0 15px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.project-category {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: rgba(255,255,255,.7);
}

.project-name {
	font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption, .portfolio-box-EMPTY:hover .portfolio-box-caption {
	opacity: 1;
}

/* Background images */

#mj {
	background-image: url("../img/project_images/matej-cover.png");
}

#ac {
	background-image: url("../img/project_images/andrea.png");
}

#ls {
	background-image: url("../img/project_images/lynn2.jpg");
}

#pf {
	background-image: url("../img/project_images/phoebe3.jpg");
}

#ep {
	background-image: url("../img/project_images/emily.png");
}

#s2 {
	background-image: url("../img/portfolio/2.jpg");
}

/* Project cards */
#custom-content .left-pane, #custom-content .right-pane {
	display: inline-block;
	vertical-align: middle;
	width: 45%;
	position: relative;
}

#custom-content .left-pane {
	padding: 20px;
}

#custom-content .card-title {
	font-family: 'Avenir';
	font-weight: bold;
}

#custom-content .card-subtitle, #custom-content .byline {
	font-weight: lighter;
	letter-spacing: 1px;
}

#custom-content .card-subtitle {
	border-bottom: solid 2px #e9ebee;
	padding-bottom: 10px;
}

#custom-content .byline {
	font-style: italic;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 0px;
}

#custom-content .card-content {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 16px;
	-webkit-font-smoothing: antialiased;
	text-align: justify;
	word-wrap: break-word;
}

#custom-content .card-title, #custom-content .card-subtitle, #custom-content .byline {
	text-align: center;
}
