@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic);

html, body {
	padding: 0;
	margin: 0;
	height: 100%
}

.grid4x4 {
	display: table;
	height: 100%;
	width: 100%;
}

.grid4x4 > div {
	display: table-row;
}

.grid4x4 > div > div {
	display: table-cell;
	/*outline: 1px solid orange;*/
	padding: 1px;
}

#container {
	z-index: 1;
}

#video {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	background-color: grey;
}

video {
	width: 100%;
	transform: translateY(-35%);
}

#video-filter {
	background: rgba(0,0,0,0.4);
	z-index: 2;
}

#title {
	z-index: 3;
	color: #fff;
	text-align: center;
}

.header {
	padding-top: 10%; 
	font-size: 45px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
	word-spacing: 2px;
}

.subheader {
	margin-top: 5px;
	font-size: 16px;
	font-family: 'Lora', serif;
	font-style: italic;
	letter-spacing: 1px;
}

#container, #video-filter, #title {
	float: left;
	position: absolute;
	width: 100%;
	height: 50%;
	top: 25%;
	/*left: 25%;*/
}

#title {
	top: 20%;
}

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

/* Boxes */

.portfolio-box {
	position: relative;
	height: 100%;
	width: 100%;
	display: block;
	color: #f05f40;
	transition: all .35s;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portfolio-box-caption {
	position: relative;
	height: 100%;
	width: 100%;
	text-align: center;
	color: #fff;
	opacity: 0;
	background: #8C1515;
	transition: all .35s;
}

.portfolio-box-caption-content {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

@media(min-width:768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}

	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}
}

.project-category, .project-name {
	padding: 0 15px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.project-category {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	color: rgba(255,255,255,.7);
}

.project-name {
	font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}

/* Background images */

#mj {
	background-image: url("../img/project_images/matej-cover.png");
}

#cp {
	background-image: url("../img/project_images/camila.png");
}

#ls {
	background-image: url("../img/project_images/lynn2.jpg");
}

#pf {
	background-image: url("../img/project_images/phoebe.png");
}

#s1 {
	background-image: url("../img/portfolio/1.jpg");
}

#s2 {
	background-image: url("../img/portfolio/2.jpg");
}

#s3 {
	background-image: url("../img/portfolio/3.jpg");
}

#s4 {
	background-image: url("../img/portfolio/4.jpg");
}
