<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Nature@Stanford</title>

		<!-- <link href="css/home.css" rel="stylesheet" type="text/css"/> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css" />

		<!-- Magnific Popup core CSS file -->
		<!-- <link rel="stylesheet" href="css/magnific-popup.css"> -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}" type="text/css" />

		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>

		<!-- Magnific Popup core JS file -->
		<!-- <script src="js/magnific-popup.min.js"></script> -->
		<script src="{{ url_for('static', filename='js/magnific-popup.min.js') }}"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
		
		<!-- <script src="js/home.js"></script> -->
		<script src="{{ url_for('static', filename='js/home.js') }}"></script>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if IE 8]>
			<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" />
		<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" />
		<![endif]-->
	</head>
	
	<body>
		<div id="title">
			<h1 class="header">OUT IS THE NEW IN</h1>
			<h3 class="subheader">NATURE @ STANFORD</h3>
		</div>

		<div id="video-filter"></div>

		<div class="background-video">
			<video class="video-1" poster="https://31.media.tumblr.com/tumblr_o6jegyFUOh1vttoqx_frame1.jpg" autoplay loop muted>
				<source src="https://www.tumblr.com/video_file/143727540055/tumblr_o6jegyFUOh1vttoqx/720" type="video/mp4">
			</video>
			<video class="video-2" poster="https://31.media.tumblr.com/tumblr_o6jdg5L5Tm1vttoqx_frame1.jpg" autoplay loop muted>
				<source src="https://www.tumblr.com/video_file/143726866604/tumblr_o6jdg5L5Tm1vttoqx/720" type="video/mp4">
			</video>
			<video class="video-3" poster="https://31.media.tumblr.com/tumblr_o6jbjk23Jo1vttoqx_frame1.jpg" autoplay loop muted>
				<source src="https://www.tumblr.com/video_file/143725477790/tumblr_o6jbjk23Jo1vttoqx/720" type="video/mp4">
			</video>

		</div>

		<div class="posts">
			<div class="post video-1"></div>
			<div class="post video-2"></div>
			<div class="post video-3"></div>
		</div>

		<div class="grid4x3">
			<div>
				<div>
					<a id="mj" href="{{ url_for('static', filename='projects/project-card-1.html') }}" class="portfolio-box">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
									Matej Jan
								</div>
								<div class="project-name">
									Sketch5
								</div>
							</div>
						</div>
					</a>
				</div>
				<div>
					<a id="ac" href="{{ url_for('static', filename='projects/project-card-2.html') }}" class="portfolio-box">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
									Andrea Cuadra
								</div>
								<div class="project-name">
									Super Bounce Outside
								</div>
							</div>
						</div>
					</a>
				</div>
				<div>
					<a id="ls" href="{{ url_for('static', filename='projects/project-card-3.html') }}" class="portfolio-box">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
									Prabhas Pokharel & Lynn Stechschulte
								</div>
								<div class="project-name">
									Meet Outside!
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div>
				<div>
					<a id="ep" href="{{ url_for('static', filename='projects/project-card-5.html') }}" class="portfolio-box">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
									Emily Porter
								</div>
								<div class="project-name">
									Chime In, Tune Out
								</div>
							</div>
						</div>
					</a>
				</div>
				<div>
					<a id="pf" href="{{ url_for('static', filename='projects/project-card-4.html') }}" class="portfolio-box">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
									Phoebe Fu
								</div>
								<div class="project-name">
									Nature Food Everyday
								</div>
							</div>
						</div>
					</a>
				</div>
				<div>
					<a id="s2" href="#" class="portfolio-box-EMPTY">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category">
								</div>
								<div class="project-name">
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
